//couleurs
$color-primary:#e2ad39;
$color-secondary:#323031;
$color-grey: #707070;
$color-white: white;
$color-black: black;
$color-text:#cccbcb;

//box shadow
$box-shadow: -1px 4px 13px -2px rgba(0,0,0,0.3);

// border radius
$border-radius:1rem;