@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

p{
font-family: 'Quicksand', sans-serif;
}

span{
font-family: 'Quicksand', sans-serif;
}

h1 , h2 ,h3 ,h4 ,h5, h6{
    font-family: 'Dancing Script', cursive;
}

.header{
    &__title{
        & h1{
            font-size: 6rem;
            color: $color-primary;
        }
        & p{
            font-size:2rem;
            color: $color-white;
        }
    }
}

//section 2
.section2__title{
    margin-bottom: 5rem;
    text-align: center;
    & h3{
        font-size: 5rem;
        color: $color-primary;
       
    }
    & span{
        color: $color-text;
        font-size: 2rem;
    }
}


.section2__nouveautes{
    margin-top: 10rem;
    & h3{
        font-size: 5rem;
        color: $color-primary;
        text-align: center;
    }
}

.section3__title{
    & h3{
        font-size: 5rem;
        color: $color-primary;
        text-align: center;
    }
}

//blog******************************************************************************************************

.sectionblog1_header{
    & h1{
        font-size: 6rem;
        color: $color-primary;
        text-align: center;
    }

    & p{
            font-size:1.6rem;
            color: $color-grey;
             text-align: center;
        }
}

.sectionblog2_header{
    & h1{
        font-size: 6rem;
        color: $color-primary;
        text-align: center;
    }
}

.contact-carte__title{
    & h3{
        font-size: 5rem;
        color: $color-primary;
        text-align: center;
    }
      & span{
        color: $color-text;
        font-size: 2rem;
    }
}