.section1__card{
    //width: 33rem;
    min-height: 13rem;
    text-align: center;
    background-color: white;
    margin-top: 3rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    transition: all .4s ease-in-out;
    flex: 1;
    margin: 3rem;

    @include responsive(phoneX){
       
    }

    &-illustration{
        & i{
            font-size:6rem;
            color: $color-primary;
        }
    }
    &-description{
        p{
            font-size: 1.7rem;
            margin-top: 1rem;
        }
    }

    &:hover{
        transform: scale(1.06);
        border: 2px solid $color-primary;
    }
}

.section2__card{
    width: 60%;
    min-height: 6rem;
    margin:2rem auto ;
    display: flex;


    @include responsive(tab-landS){
        width: 80%;
    }

    @include responsive(phoneL){
        width: 60%;
        display: block;
    }

    @include responsive(phoneS){
        width: 80%;
    }

    .section2__card-right{
    width: 100%;
    min-height: 40rem;
    background-color: white;
    border: 1px solid $color-secondary;
    border-radius: $border-radius;
    margin-bottom:2rem ;


    &--illustration{
      & img{
          height: 20rem;
          object-fit: cover;
          width: 100%;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          border-bottom: 2px solid $color-primary;
      }
    }

    &--description{
        text-align: center;
        & h4{
            font-size: 3rem;
            color: $color-primary;
        }

        & p{
            font-size: 1.6rem;
        }

        & i{
            color: $color-primary;
        }
    }
  }

   .section2__card-left{
    width: 100%;
    min-height: 80rem;
    background-color: white;
    border: 1px solid $color-secondary;
    border-radius: $border-radius;
    margin:2rem 1rem;

    @include responsive(phoneL){
        margin:2rem 0;
    }



    &--illustration{
      & img{
          height: 40rem;
          object-fit: cover;
          width: 100%;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          border-bottom: 2px solid $color-primary;
      }
    }

    &--description{
        text-align: center;
        & h4{
            font-size: 3rem;
            color: $color-primary;
        }

        & p{
            font-size: 1.6rem;
        }

        & i{
            color: $color-primary;
        }
    }
  }
}
.section3__partenaires{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;

    &-1{
        flex: 1;
    }
}
  
////blog******************************************************************************************************

.sectionblog1_box{
    display: flex;
    flex-wrap: wrap;
    & h4{
    font-size: 3rem;
    margin-top: 2rem;

        & a{
        color: $color-secondary;
        transition: all .3s ease;

            &:hover{
                color: $color-primary;
            }
        }
    }

    &-content{
    width:35rem ;
    margin-left:1rem ;
    margin-top: 6rem;
    background-image:url(../images/restaurant-cuisine-gastronomie-ivoirienne-ivorianfood-1.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    padding: 2rem;
    filter: brightness(50%);
    transition: all .4s ease-in-out;

    &:hover{
        filter: brightness(100%);
        box-shadow: $box-shadow;
        transform: scale(1.01);
    }

        .petite-card{
        width: 15rem;
        height: 4rem;
        background-color: $color-primary ;
        border-radius: $border-radius;
        transition: all .3s ease;

            & h6{
            font-size: 2.5rem;
            color: $color-white;
            text-align: center;
            }

            &:hover{
                background-color: $color-secondary;
            }
        }
    }

    &-content1{
    width: 35rem;
    margin-left:1rem ;
    margin-top: 6rem;
    background-image:url(/public/images/foufou-banane-accompagnc3a9-de-sauce-claire-poisson-cc3b4telettes-de-boeuf-fumc3a9-ivorianfood.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    padding: 2rem;
    filter: brightness(50%);
    transition: all .4s ease-in-out;

    &:hover{
        filter: brightness(100%);
         box-shadow: $box-shadow;
        transform: scale(1.01);
    }

        .petite-card{
        width: 15rem;
        height: 4rem;
        background-color: $color-primary ;
        border-radius: $border-radius;
        transition: all .3s ease;

            & h6{
            font-size: 2.5rem;
            color: $color-white;
            text-align: center;
            }

            &:hover{
                background-color: $color-secondary;
            }
        }
    }
     &-content2{
    width: 35rem;
    margin-left:1rem ;
    margin-top: 6rem;
    background-image:url(/public/images/foufou-banane-accompagnc3a9-de-sauce-claire-poisson-cc3b4telettes-de-boeuf-fumc3a9-ivorianfood.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    padding: 2rem;
    filter: brightness(50%);
    transition: all .4s ease-in-out;

    &:hover{
        filter: brightness(100%);
         box-shadow: $box-shadow;
        transform: scale(1.01);
    }

        .petite-card{
        width: 15rem;
        height: 4rem;
        background-color: $color-primary ;
        border-radius: $border-radius;
        transition: all .3s ease;

            & h6{
            font-size: 2.5rem;
            color: $color-white;
            text-align: center;
            }

            &:hover{
                background-color: $color-secondary;
            }
        }
    }
    &-content3{
    width: 35rem;
    margin-left:1rem ;
    margin-top: 6rem;
    background-image:url(/public/images/foufou-banane-accompagnc3a9-de-sauce-claire-poisson-cc3b4telettes-de-boeuf-fumc3a9-ivorianfood.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    padding: 2rem;
    filter: brightness(50%);
    transition: all .4s ease-in-out;

    &:hover{
        filter: brightness(100%);
        box-shadow: $box-shadow;
        transform: scale(1.01);
    }
        
        .petite-card{
        width: 15rem;
        height: 4rem;
        background-color: $color-primary ;
        border-radius: $border-radius;
        transition: all .3s ease;

            & h6{
            font-size: 2.5rem;
            color: $color-white;
            text-align: center;
            }

            &:hover{
                background-color: $color-secondary;
            }
        }
    }
}

.mainBox{
    flex: 1;
}

.sectionblog2_part{
    display: flex;
    flex-wrap: wrap;

    @include responsive(tab-portN){
    display: block;
    }
   
    &-left{
    height: 38rem;
    margin-top: 6rem;
    background-image:url(/public/images/foufou-banane-accompagnc3a9-de-sauce-claire-poisson-cc3b4telettes-de-boeuf-fumc3a9-ivorianfood.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    flex: 2;

    @include responsive(tab-portN){
    width: 60rem;
    margin-left: 20rem;
    }
     @include responsive(phoneX){
    width: 57rem;
    margin-left: 17rem;
    }
     @include responsive(phone){
    // width: ;
    margin-left: 0rem;
    }
    }

    &-right{
        text-align: center;
        flex: 2;
        & h3{
        font-size: 3rem;
        color: $color-secondary;
        text-align: center;
        margin-top: 6rem;
        }
          & p{
        font-size:1.6rem;
        color: $color-grey;
        text-align: center;
        margin-top: 4rem;
        }

        & a{
            & button{
                margin-top: 8rem;
                padding: 2rem;
                font-size: 2rem;
                border: 1px solid $color-primary;
                background-color: transparent;
                color: $color-primary;
            }
        }
    }
}

////carte******************************************************************************************************


.presentation-card{
     width:90%;
    margin: 4rem auto;
    min-height: 10rem;
    
    

    &__content1{
    display: flex;
    flex-wrap: wrap;
    }

    &__content1a{
    width: 30rem;
    min-height: 40rem;
    background-color:white;
    margin-left: 2rem;
    text-align: center;
    background-color: rgba($color-primary, 0.2);
    transition: all .5s ease-in-out;
    margin-bottom: 1rem;
    // flex: 1;

    

    &:hover{
        box-shadow: $box-shadow;
        transform: scale(1.02);
    }

        & img{
            height: 20rem;
            object-fit: cover;
            width: 100%;
        }

        & h4{
        font-size: 3rem;
        color: $color-primary;
        text-align: center;
        margin-top: 2rem;
        }

        & p{
        font-size:1.6rem;
        color: $color-grey;
        text-align: center;
        margin: 2rem 0;
        }

        & span{
        font-size:1.6rem;
        color: red;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        }

        & a{
            & button{
            margin: 2rem 0;
            padding: 1rem;
            font-size: 2rem;
            border: 1px solid $color-primary;
            background-color: transparent;
            color: $color-primary;
            cursor: pointer;
            }
        }
    }
}
////contact******************************************************************************************************

.contact-form_b{
    display: flex;
    flex-wrap: wrap;
    // width: 70%;
    margin: 0 auto;
   // background-color: green;

    #message{
    width: 40rem;
    height: 20rem;
    padding: 2rem;
    border:  1px solid $color-primary;
    }

    &-left{
        flex: 1;

        & input{
            width: 90%;
            height: 5rem;
            padding: 0 2rem;
            border:  1px solid $color-primary;
        }

       
    }

    &-right{
        flex: 1;

       & button{
        padding: 2rem 4rem; 
        font-size: 2rem; 
        cursor: pointer; border: 1px solid $color-primary;
        background-color: transparent;
        color: $color-primary;
        cursor: pointer;
       } 
    }
}